:local(.AddRow) {
    color: #309CD5;
    font-style: italic;
    text-transform: none;
}

:local(.AddRow) td {
    font-size: 13px;
    text-transform: none;
    border-bottom: 1px solid #000;
}

:local(.AddRow) .space-cell,
:local(.AddRow) .title {
    border: 0;
    border-bottom: 1px solid #000;
}