:local(.Table) {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-width: 1200px;
    padding-top: 23px;
}

:local(.Table) table {
    width: 100%;
    margin: auto;
}

:local(.Table) th,
:local(.Table) td {
    font-size: 13px;
    height: 30px;
}
:local(.Table) th {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    //padding: 8px;
    height: 39px;
}

:local(.Table) thead th.pink{
    text-transform: none;
    font-size: 10px;
}

:local(.Table) td {
    border: 1px solid #ddd;
    position: relative;
    text-overflow: ellipsis;
    max-width: 0;
    /*overflow: hidden;*/
    white-space: nowrap;
    height: 29px;
}

:local(.Table) tbody td {
    padding: 0 7px;
}

:local(.Table) td input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    border: 0;
    background-color: transparent;
}

:local(.Table) tbody td.grey,
:local(.Table) tbody td.pink,
:local(.Table) tbody td.green {
    text-align: right;
}
:local(.Table) tbody td.yellow {
    text-align: center;
}

:local(.Table) tbody td .visits {
    text-align: center;
    color: #36B8F8;
}

:local(.Table) td.table_title {
    border: 0;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    height: 17px;
    font-size: 11px;
}

:local(.Table) .left-icons,
:local(.Table) .right-controls {
    width: 20px;
    border-color: transparent;
    text-align: center;
}

:local(.Table) .left-controls{
    width:30px;
    padding: 0;
    border-left: 0;
    text-align: center;
}

:local(.Table) .btn-icon {
    border: 0;
    background: transparent;
    color: #d1d3d4;
}

:local(.Table) .btn-icon.-add:hover {
    color: #1C9842;
}
:local(.Table) .btn-icon.-clear:hover {
    color: #ff0000;
}


:local(.Table) .material-icons.-error {
    color: #ff0000;
}

:local(.Table) tbody tr:hover td {
    background-color: transparent;
}
:local(.Table) tbody tr:hover td.grey {
    background-color: #55565A;
    color: #36B8F8;
}

:local(.Table) tbody tr:hover .btn-icon.-add {
    color: #1C9842;
}

:local(.Table) tbody tr:hover .btn-icon.-clear {
    color: #ff0000;
}

:local(.Penalties) .title {}


:local(.Table) .dropdown {
    text-align: left;
    cursor: pointer;
}
:local(.Table) .dropdown.-icons {
    text-align: center;
}
:local(.Table) .dropdown:after {
    content: '';
    position: absolute;
    right: 7px;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #D5D5D5;
}
:local(.Table) .dropdown_list {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    min-width: 100%;
    max-height: 290px;
    overflow: scroll;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 1.5px 2.6px 9px 1px rgba(0, 0, 0, 0.35);
}
:local(.Table) .-opened.dropdown:after {
    border-top-color: #36B8F8;
}
:local(.Table) .-opened .dropdown_list {
    display: block;
}
:local(.Table) .dropdown_item {
    padding: 8px 7px;
    cursor: pointer;
}
:local(.Table) .dropdown_item:hover {
    background-color: rgba(0,0,0, .05);
}


:local(.Table) .-penaly .pink {
    color: #ff0000;
}
:local(.Table) .-bonus .grey {
    color: #faafd0;
}