.grey {
    background-color: #626265;
    color: #fff;
}

.green {
    background-color: #f5fff6;
}

.yellow {
    background-color: #fffff5;
}

.blue {
    background-color: #f3fbfe;
}

.pink {
    background-color: #fef7ff;
}
.pink.dark {
    background-color: #FFEBFF;
}

.icon-red {
    color: #ff0000;
}
.icon-blue {
    color: #36B8F8;
}
.icon-grey {
    color: #a4a4a4;
}
.icon-green {
    color: #1C9842;
}

.addition {
    color: #a4a4a4;
    text-align: center;
    font-style: italic;
}

td.selected {
    border-color: dodgerblue;
}

.material-icons {
    font-size: 18px;
}

button:focus,
a:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}